@font-face {
  font-family: "MapoGoldenPier";
  src: url("./MapoGoldenPierA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Allura";
  src: url("./AlluraRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 1. 한글 폰트(고운돋움 등) 추가 */
@font-face {
  font-family: "MyKorFont";
  src: url("./korfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* 2. 영어 폰트(모던한 느낌) 추가 */
@font-face {
  font-family: "MyEngFont";
  src: url("./engfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}